@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: transparent;

}

@layer base {
  :root {
    --b1: 360, 100%, 100%;
  }
}

.maxHTaskCreationSection {
  height: auto;
  min-height: 450px;
}

.taskViewSection {
  min-height: 350px;
  max-height: 850px;
  overflow-x: hidden;
  overflow-y: hidden;
  }

.customShadow {
  -webkit-box-shadow: 8px 12px 6px -13px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 12px 6px -13px rgba(66, 68, 90, 1);
  box-shadow: 8px 12px 6px -13px rgba(66, 68, 90, 1);
}

.customCard {
  background: #ffffff99;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 40px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body {
  font-family: sans-serif;
  padding: 0;
  background-color: #fff ;

}

.on {
  color: #000;
}

.buzz-effect {
  animation: buzz 0.2s ease-in-out;
}

/* ------------------ KEYFRAMES ------------------- */

@keyframes buzz {
  0% {
    transform: rotate(15deg);
  }

  25% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* ------------------ BLOBS ------------------- */


.container {
  overflow: hidden;
	position: relative;
}

.shape-blob {

	height: 400px;
	width: 400px;
	border-radius: 30% 50% 20% 40%;
  	animation: 
		transform 20s ease-in-out infinite both alternate,
		movement_one 40s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 70%;
	top: 50%;
}
.shape-blob.one{
	height: 500px;
	width: 500px;
	left: -200px;
	top: -150px;
  position: absolute;
	transform: rotate(-180deg);
	animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}
