.container {
    overflow: hidden;
      position: relative;
}
  
.shape-blob {
  height: 25rem;
  width: 25rem;
  border-radius: 30% 50% 20% 40%;
  animation: transform 20s ease-in-out infinite both alternate, movement_one 40s ease-in-out infinite both;
  opacity: 0.7;
  position: absolute;
  left: 70%;
  top: 35%; 
}

@media screen and (min-width: 768px) {
  .shape-blob {
    top: 30%;
  }
}


  .shape-blob.one{
      height: 31.25rem;
      width: 31.25rem;
      left: -12.5rem;
      top: -9.375rem;
    position: absolute;
      transform: rotate(-180deg);
      animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
  }
  
